.app-header{
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.02);
  .app-header__logo{
    max-height: 70px;
  }
  .app-header__items{
    p{
      display: inline-flex;
      margin-bottom: 0;
      &+p{
        margin-left: 30px;
      }
    }
  }
}



.note{
  margin-top: 40px;
  font-size: 14px;
  background: #f1f1f159;
  padding: 12px;
  line-height: 1.6;
}

.cursor-pointer{
  cursor: pointer;
}
