.dashboard{

}


.view{
  padding-top: 20px;
  .view__item{
    padding-left: 15px;
    padding-right: 15px;
    flex: 1;
  }
  .view__input{
    input{
      border-radius: 0px;
      height: 50px;
      font-size: 18px;
      font-weight: 300;

      &:focus{
        outline: none;
        box-shadow: none;
        border-color: #000;
      }
    }
  }
  .view__area{
    padding-top: 20px;

    iframe, .view__preview{
      width: 100%;
      height: calc(100vh - 185px);
    }
    iframe{

    }
    .view__preview{
      background: #f1f1f1;
      p {
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 1px;
        margin: 0;
        text-transform: uppercase;
        span{
          font-size: 40px;
          display: block;
        }
      }
    }
  }
}



@media (max-width: 991px) {
  .view {
    display: block !important;
    .view__input input {
      height: 40px;
      font-size: 15px;
    }
    .view__area {
      padding-top: 15px;
      margin-bottom: 30px;
      iframe, .view__preview {
        height: 400px;
      }
    }
  }
}
