.login{
  max-width: 400px;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 50px;
  .sec-login__container{
    border: 1px solid #f1f1f1;
    padding: 40px;
  }
  img{
    margin: 0 auto 20px;
    display: block;
    height: 100px;
  }
   h2{
     margin-bottom: 40px;
   }
}


@media (max-width: 991px) {
  .login {
    padding-top: 30px;
    .sec-login__container {
      padding: 25px;
    }
    img {
      height: 80px;
    }
  }
}

